name: Build

on: [push, pull_request]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [lts/*]

        steps:
            - uses: actions/checkout@v6
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}
            - run: yarn
            - name: Build
              run: yarn start
              env:
                  WATERMARK_DEBUG: true
                  WATERMARK_IMAGE: ${{ github.repository }}/icon.png
                  WATERMARK_IGNORE: 'logo|icon|banner|unsplash|placeholder'
                  WATERMARK_IMAGES: ${{ github.repository }}/test/
                  WATERMARK_SPACING: 2
                  WATERMARK_OPACITY: 0.5
                  WATERMARK_POSITION: SE
                  WATERMARK_RESIZE_RATIO: 5
